footer{
    .container{
        width: 100%;
        border-top: solid .125rem $color-principal;
        margin-top: 3.125rem;
        .logo-isotipo{
            margin: .625rem;
            width: 3.125rem;
            height: 3.125rem;
        }
        .nav{
            .nav-item{
                font-family: Tipografia Secundaria;
            font-size: $fuente-mediana;
            color: $color-secundario;
            }
        }
        .row{
            width: 100%;
            display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        .container-direccion{
            margin: 10px;
        padding: 5px;
        display: grid;
        grid-column-start: 8;
        grid-column-end: 12;
        align-self: center;
        p{
            font-family: Tipografia Secundaria;
            font-size: $fuente-mediana;
            color: $color-secundario;
        }
        }
        }
        }
        .medios-de-pago{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
}