header{
    .logo-container{
        width: 100%;
        display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: solid .125rem $color-principal;
        .logo-horizontal{
            grid-column-start: 6;
            grid-column-end: 8;
            img{
                width: 12.5rem;
                height: 4.375rem;
                margin: .625rem;
            }
        }
        h1{
            display: none;
        }
    }
    .logo-isotipo{
        width: 3.125rem;
        height: 3.125rem;
    }
    .nav-item{
        margin: .625rem;
        font-family: Tipografia Secundaria;
        font-size: $fuente-mediana;
        a{
            color: $color-secundario;
            &:hover{
                color: $color-principal;
            }
        }
    }
}
