main{
    .carrusel-1{
        width: 100%;
        height: 37.5rem;
        margin-top: 3.125rem;
    }
    .carrusel-2{
        width: 100%;
        height: 37.5rem;
        margin-top: 3.125rem;
    }
    .carrusel-3{
        width: 100%;
        height: 37.5rem;
        margin-top: 3.125rem;
    }
    .container-cards{
    width: 100%;
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    justify-items: center;
        .cards{
            width: 12.5rem;
            padding: .625rem;
            border-radius: .3125rem;
            background-color: #ff744698;
            .img-cards{
                width: 100%;
            }
            h2{
                font-family: Tipografia Logo;
                font-size: $fuente-mediana;
                color: $color-secundario;
                padding: .3125rem;
            }
            p{
                font-family: Tipografia Secundaria;
                font-size: $fuente-chica;
                color: $color-secundario;
                text-align: center;
                padding: .3125rem;
            }
        }
    }
    
}
