//Paleta cromatica//
$color-principal: #ff7546;
$color-secundario: #474747;
$color-secundario-2: #ffff;

//Tamaños de fuentes//
$fuente-grande: 2.5rem;
$fuente-mediana: 1.25rem;
$fuente-chica: .875rem;

//Separaciones//

